/* common code starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common code ends here */
/* header starts here */
/* navbar starts here */
nav{
    width: 100%;
    height: 60px;
    background-color: rgba(229, 84, 115, 0.5);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    align-items: center;
}
nav ul li {
    margin-right: 30px;
    transition: all 0.3s;
}
nav ul li:hover{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    transform: scale(1.05);
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    line-height: 20px;
    transition: all 0.1s;
}
nav ul li a:hover{
    color: rgba(229, 84, 115, 0.8);
    transform: scale(1.02);
}

.nav-list{
    list-style: none;
}

/* navbar ends here */
/* banner starts here */

header{
    width: 100%;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-content{
    width: 560px;
    height: 300px;

    margin-bottom: 150px;
    margin-left: 100px;
}
.header-title{
    color: #272727;
    font-size: 70px;
    font-weight: 900;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
}
.header-img-container{
    width: 500px;
    height: 650px;
    position: relative;
}
.header-img{
    position: absolute;
    width: 460px;
    height: 610px;
    right: 50px;
    bottom: 0;
}
.header-btn{
    background-color: #E55473;
    color: #fff;
    border: none;
    padding: 20px 40px;
    margin-top: 32px;
    font-size: 20px;            
    font-weight: 700;
    border-radius: 5px;
    transition: all 0.3s;
}
.header-btn:hover{
    background-color: #fff;
    color: #E55473;
    transform: rotate(-5deg);
}
/* banner ends here */
/* header ends here */

/* main starts here */
/* featured section starts here */
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.featured-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.featured-section{
    margin-top: 180px;
}
.featured-images{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
}
.featured-img-1, .featured-img-2, .featured-img-3{
    width: 350px;
    height: 400px;
    border-radius: 50% 50% 0 0;
    transition: all 0.3s;
}
.featured-img-1:hover{
    transform: scaleY(1.15);
}
.featured-img-2:hover{
    transform: scaleY(1.15);
}
.featured-img-3:hover{
    transform: scaleY(1.15);
}
.featured-img-1{
    padding: 110px 75px 0;
    background: rgba(167, 33, 98, 0.15);
}
.featured-img-2{
    padding: 110px 45px 50px;
    background: rgba(5, 151, 160, 0.15);
}
.featured-img-3{
   padding: 65px 75px 0;
   background: rgba(71, 125, 17, 0.15);
}

.flower-description{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
    margin-top: 30px;
    transition: all 0.4s;
}
.flower-pink:hover{
    color: rgb(249, 79, 107);
    transform: scaleX(1.2);
    cursor: pointer;
}
.flower-red:hover{
    color: red;
    transform: scaleX(1.2);
    cursor: pointer;
}
.flower-yellow:hover{
    color: rgb(244, 244, 24);
    transform: scaleX(1.2);
    cursor: pointer;
}
/* featured section ends here */
/* advantage section starts here */

.advaantages-container{
    width: 1070px;
    height: 300px;
    background: rgba(39, 39, 39, 0.05);
    margin: 120px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.advantage{
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.advantage-img{
    width: 100px;
    margin: 20px auto;
}
.advantage-para{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
/* advantage section ends here */
/* hot deal section starts here */
.hot-deal-containers{
    width: 100%;
    height: 500px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.off{
    color: #E55473;
}
.hot-deal-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
}
.btn-hot{
    background-color: #E55473;
    color: #fff;
    border: none;
    padding: 20px 40px;
    margin-top: 32px;
    margin-left: 200px;
    border-radius: 5px;
    transition: all 0.3s;
}
.btn-hot:hover{
    color: yellow;
    background-color: red;
    transform: rotate(10deg);
}
.hot-deal-container{
    width: 550px;
    height: 200px;
}
/* hot deal section ends here */
/* instagram section starts here */
.instagram{
    margin-top: 120px;
}
.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.insta-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.insta-pic-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.insta-pic{
    width: 260px;
    height: 300px;
    transition: all 0.3s;
}
.insta-pic:hover{
    transform: skew(-10deg);
}

/* instagram section ends here */
/* latest deal section starts here */
.latest-deal-container{
    width: 1070px;
    height: 336px;
    margin: 100px auto;
    background-image: url('./images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.latest-deal-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 80px;
    margin-bottom: 15px;
}
.latest-deal-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}
.input-subscribe{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    background-color: #fff;
    padding: 20px 300px 20px 20px;
    border-radius: 5px;
    margin-left: 200px;
    border: none;
    transition: all 0.3s;
}
.input-subscribe:hover{
    transform: scale(1.1);
}
.btn-subscribe{
    color: #FFF;
    background-color: #E55473;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}
.btn-subscribe:hover{
    color: #E55473;
    background-color: #fff;
    transform: skew(-10deg);
}
/* latest deal section ends here */
/* main ends here */

/* footer starts here */
footer{
    width: 100%;
    height: 350px;
    background-color: #111010;
    color: #fff;
}
.footer-title{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}
.footer-para{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
}
/* footer ends here */